body{
    background: #1cbdcf;
    height: 100vh;
}
*{
    margin: 0;
    padding: 0;
}
form{
    background: #fff;
    /* border-radius: 10px; */
    width: 450px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 20px;
    height: max-content;
}

input{
    width: 100%;
    display: block;
    padding: 8px 20px;
    font-size: 14px;
    padding: 8px 40px 8px 10px;
}

h2{
    text-align: center;
    font-size: 18px;
}

.input-form{
    margin: 20px 0;
}

.submit-btn{
    background: #1581d4;
    border: none;
    text-transform: uppercase;
    color: #fff;
}
.submit-btn{
    margin-top: 10px;
}

input[type="email"]{
    
}
.error-messages{
    color:red;
    font-size: 12px;
}
input[type="submit"]:focus{
    background: #2a99ed;
}

.form-control{
    position: relative;
    border: none;
    border-radius: 0;
    padding:5px 12px;
}
.form-control input{
margin-bottom:5px;
}

.form-control.success input{
    border-color: green;
}
.form-control.error input{
    border-color: red;
}
.form-control label{
    margin-bottom:10px;
    font-size: 14px;
}
.form-control i{
    position: absolute;
    right: 25px;
    top: 55px;
    visibility: hidden;
}
.form-control small{
    color: red;
    /* position: absolute;
    bottom: 0; */
    /* left: 0; */
    /* visibility: hidden; */
    display: none;
    font-size: 12px;
}
.form-control.error small{
    display: block;
}

.form-control.success i.fa-check-circle{
    color: green;
    visibility: visible;
}
.form-control.error i.fa-exclamation-circle{
    color: red;
    visibility: visible;
}